@charset "utf-8";

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  label[for] {
    cursor:pointer;
    user-select:none;
  }
  
  /* 라이브러리 */
  .block {
    display:block;
  }
  
  .inline-block {
    display:inline-block;
  }
  
  .absolute-left {
    position:absolute;
    left:0;
  }
  
  .absolute-right {
    position:absolute;
    right:0;
  }
  
  .absolute-bottom {
    position:absolute;
    bottom:0;
  }
  
  .absolute-top {
    position:absolute;
    top:0;
  }
  
  .absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
  }
  
  .absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  
  .absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  
  .relative {
    position:relative;
  }
  
  .cell {
    float:left;
    box-sizing:border-box;
  }
  
  .cell-right {
    float:right;
    box-sizing:border-box;
  }
  
  .row::after {
    content:"";
    display:block;
    clear:both;
  }
  
  .clear-both {
    clear:both;
  }
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  .margin-0-auto {
    margin-left:auto;
    margin-right:auto;
  }
  
  .text-align-center {
    text-align:center;
  }
  
  .text-align-right {
    text-align:right;
  }
  
  .line-height-0 {
    line-height:0;
  }
  
  .line-height-0 > * {
    line-height:normal;
  }
  
  .width-30px {
    width:30px;
  }
  
  .width-35px {
    width:35px;
  }
  
  .width-40px {
    width:35px;
  }
  
  .width-45px {
    width:35px;
  }
  
  .width-50px {
    width:50px;
  }
  
  .width-80px {
    width:80px;
  }
  
  .width-100px {
    width:100px;
  }
  
  .width-100p {
    width:100%;
  }
  
  .width-60p {
    width:60%;
  }
  
  .width-55p {
    width:55%;
  }
  
  .width-50p {
    width:50%;
  }
  
  .width-45p {
    width:45%;
  }
  
  .width-40p {
    width:40%;
  }
  
  .width-30p {
    width:30%;
  }
  
  .width-35p {
    width:35%;
  }
  
  .width-100p-except-30px {
    width:calc(100% - 30px);
  }
  
  .width-100p-except-35px {
    width:calc(100% - 35px);
  }
  
  .width-100p-except-40px {
    width:calc(100% - 40px);
  }
  
  .width-100p-except-50px {
    width:calc(100% - 50px);
  }
  
  .width-100p-except-80px {
    width:calc(100% - 80px);
  }
  
  .width-100p-except-100px {
    width:calc(100% - 100px);
  }
  
  .height-100p {
    height:100%;
  }
  
  .height-50p {
    height:50%;
  }
  
  .border-box {
    box-sizing:border-box;
  }
  
  .font-size-dot-8rem {
    font-size:.8rem;
  }
  
  .table-row {
    display:table;
  }
  
  .table-row.row::after {
    display:inline;
    clear:non;
  }
  
  .table-row > .cell {
    float:none;
    display:table-cell;
  }
  
  .border-red {
    border:10px solid red;
  }
  
  .border-green {
    border:10px solid green;
  }
  
  .border-blue {
    border:10px solid blue;
  }
  
  .border-gold {
    border:10px solid gold;
  }
  
  .border-pink {
    border:10px solid pink;
  }
  
  /* 라이브러리 - flex */
  * > .flex {
    display:flex;
  }
  
  * > .flex-grow-1 {
    flex-grow:1;
  }
  
  * > .flex-jc-c {
    justify-content:center;
  }
  
  * > .flex-jc-s {
    justify-content:flex-start;
  }
  
  * > .flex-jc-e {
    justify-content:flex-end;
  }
  
  * > .flex-jc-sb {
    justify-content:space-between;
  }
  
  * > .flex-jc-sa {
    justify-content:space-around;
  }

  * > .flex-ai-c {
    align-items:center;
  }
  
  * > .flex-ai-s {
    align-items:flex-start;
  }
  
  * > .flex-ai-e {
    align-items:flex-end;
  }
  
  * > .flex-as-s {
    align-self:stretch;
  }
  
  * > .flex-as-c {
    align-self:center;
  }
  
  * > .flex-as-s {
    align-self:flex-start;
  }
  
  * > .flex-as-e {
    align-self:flex-end;
  }
  
  * > .flex-column-nowrap {
    flex-flow:column nowrap;
  }
  
  * > .flex-column-wrap {
    flex-flow:column wrap;
  }
  
  * > .flex-row-wrap {
    flex-flow:row wrap;
  }
  
  .flex-ch-basis-0 > * {
    flex-basis:0;
  }
  
  * > .flex-1-0-0 {
    flex:1 0 0;
  }


  /* Font 설정*/
  @font-face {
    font-family: a고딕12;
    src: url(/Font/a고딕12.ttf);
  }
  @font-face {
    font-family: Afterglow;
    src: url(/Font/Afterglow-Regular.ttf);
  }
  @font-face {
    font-family: nexon1v;
    src: url(/Font/NEXONLv1GothicRegular.ttf);
  }
  @font-face {
    font-family: nexon2v;
    src: url(/Font/NEXON\ Lv2\ Gothic\ Bold.ttf);
  }

  /* cus */

 .con-min-width{
    min-width: 1920px;
  }
  
  .con {
    width: 1920px;
  }


  .main-wrap{
    width: 100%;
    height: 1080px;
    background-image: url(image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  /* 메뉴하단 라인 */
  .main-wrap .line{
    width: 100%;
    height: 2px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top:100px;
  }

/* 상단 바 */
.top-bar{
  width: 100%;
  height: 100px;
}

/* 좌측 메뉴 */

.top-bar:hover{
  background-color: #fff;
  transition: all 0.3s;
}

.top-bar:hover nav ul li{
  color: #000;
}

.top-bar nav ul li:hover{
  color:geen;
  border-bottom:5px solid green;
}
.top-bar .right-menu ul li:hover{
  border-bottom:none;
}

.top-bar .left-menu ul li{
  margin-right:40px;
  padding:40px 50px;
  box-sizing:border-box;
  font-family: Afterglow;
  font-weight: 700;
  letter-spacing:2px;
  position: relative;
  text-align: center;
  color: #fff;
}

.top-bar .left-menu .submenu{
  position: absolute;
  left: -10px;
  top:100px;
  width: 100%;
  height:200px;
}

.top-bar .left-menu .submenu li{
  width: 100%;
  color: #000;
  white-space:nowrap;
  font-family: a고딕12;
  font-weight: 600;
}

.top-bar nav ul li .submenu li:hover{
  border-bottom: none;
}

.top-bar .left-menu .submenu a{
  padding:-10px 0;
  display: block;
  font-size:13px;
  
}

/* 로고 이미지 */
.top-bar .left-menu .logo-box{
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image/title_box.png);
  height: 120px;
  margin-right: 20px;
  
}
/*로고 이미지 padding x*/
.top-bar .left-menu ul li:nth-child(4){
  padding:0;
}

/* 우측 메뉴 */

.top-bar .right-menu{
  margin-right: 20px;
}

.top-bar .right-menu ul li{
  padding:0 20px;
  color: #fff;
  font-family: a고딕12;
  font-weight: 700;
  z-index: 100000;
}

.top-bar .left-menu .logo-box img{
  margin-top:35px;
  width: 80%;
}

/* 우측메뉴 마우스오버 */
.top-bar .right-menu ul li:hover{
  color: green;
  transition: all 0.3s;
}

 /* 우측메뉴-셀렉트 박스 */
 select{
  padding:.5em .5em ;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(215, 215, 215);
  background: rgba(0,0,0,0.2);
  color: #fff;
  font-family: inherit;
  font-size:.8em;
}

.top-bar:hover ul li select{
  color: #000;
  background: rgba(255,255,255,0.8);
  border:1px solid #000;
}

.menu-slide-bg{
  background-color: #fff;
  width: 100%;
  height:500px;
  position: absolute;
}


/* 2sec 메뉴 */
.menu-wrap{
  width: 100%;
  padding-top:70px;
  height: 980px;
  text-align: center;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position:relative;
}
.menu-wrap h1{
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 300;
  color:#486700;
  font-size:4em;
}

.menu-wrap h2{
  color:#747373;
  letter-spacing: 2px;
  font-weight: bold;
  font-size:18px;
  font-family: nexon1v;
}

.menu-sub {
  margin-top:50px;
  position: absolute;
  left:50%;
  transform:translate(-32%,0%);
}

.box-menu{
  margin:0 20px;
  height: 600px;
  float: left;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #eee;
}

.menu-img{
  width: 112px;
  height: 108px;
  margin:30px 0;
}

.box-menu p{
  font-size:12px;
  color:#9b8e84;
  font-weight: bold;
  font-family: 'Saira Condensed', sans-serif;
  font-size:1.3em;
}

.box-menu h1{
  font-size:35px;
  font-weight: bold;
  color:#393939;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 2px;
}

.box-menu h3{
  font-size:16px;
  margin-top:30px;
  color:#393939;
  font-family: nexon1v;
}

.menu-wrap:after{
  content:"";
  display:block;
  clear:both;
}


/* 3sec 멤버십 */
.membership-wrap{
  padding-top:60px;
  height: 980px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
}
.membership-wrap h1{
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 300;
  color:#486700;
  font-size:4em;
}
.membership-wrap h2{
  color:#747373;
  letter-spacing: 2px;
  font-weight: bold;
  font-size:18px;
  font-family: nexon1v;
  margin-bottom:60px;
}
.epoint {
  position: relative;
}
.epoint img{
  margin: 0 auto;
}
.epoint .membership img{
  position: relative;
  width:1200px;
}
.mem-text{
  position:absolute;
  color:#000;  
  left: 41%;
  top: 120px;
}

.mem-text h3{
  color:#fff;
  font-size: 2.5em;
  font-family: nexon2v;
}

.mem-text img{
  padding:15px 0 0 0;
}

.membership-box{
  width:100%;
  padding:0 320px;
  height: 200px;
  margin-top:20px;
}
.box-membership{
  width:300px;
  float:left;
  margin-top:30px;
  padding: 0 9px;
  position: relative;
  border-right:1px solid rgba(57, 57, 57, 0.3);
  height: 140px;
}
.box-membership p{
  font-size:13px;
  margin-top:15px;
  font-family: nexon1v;
  font-size:18px;

}

.membership-wrap:after{
  content:"";
  display:block;
  clear:both;
}


/* 4sec 스토어 */
.store-wrap{
  padding-top:30px;
  height: 780px;
  text-align: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.store-box{
  margin: 10px auto;
  position:relative;
}

.store-box img{
  width: 75%;
  margin-top:180px;
}

.store-text{
  position:absolute;
  top:25%;
  left:50%;
  transform:translate(-50%,0%);
  margin-top:20px;
}

.store-text h1{
  color:#fff;
  font-family: nexon2v;
}

.store-text h3{
  color:#fff;
  font-family: nexon1v;
  font-weight: lighter;
}

.text-area{
  width: 500px;
  margin-top:50px;
}
.store-text textarea{
  width: 450px;
  font-size:25px;
  height: 80px;
  background-color:rgba(255,255,255,0.5);
  color:#fff;
  resize: none;
  font-family: nexon1v;
  font-weight: lighter;
}

.text-area img{
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.2);
  position:absolute;
  left:100%;
  top:-13%;
  padding:20px;
}

.store-wrap:after{
  content:"";
  display:block;
  clear:both;
}

.footer{
  background-color:#393939;
  width:100%;
  padding:30px 30px 30px 30px;
  box-sizing:border-box;
  height: 230px;
}

.footer-box{
  width: 60%;
  margin: 0 auto;
}

.footer-text{

  width: 900px;
  float:left;
}

.footer p{
  color:#fff;
  font-size:17px;
  font-family: nexon2v;
}

.footer-logo{
  float:right;
  width:300px;
}

.footer-logo img{
  margin-top:50px;
}