@charset "utf-8";
/* 노멀라이징 */
* {
    padding:0;
    margin:0;
  }
  ul,li{
    list-style:none;
  }
  a{
    color:inherit;
    text-decoration:none;
  }
  /* 라이브러리 */
  .cell{
    float:left;
  }
  .cell-r{
      float: right;
  }
  .row::after{
    clear:both;
    content: "";
    display: block;
  }
  .con1{
      width: 100%;
      margin:0 auto;
  }

  /* Font 설정*/
  @font-face {
      font-family: a고딕12;
      src: url(/Font/a고딕12.ttf);
  }
  @font-face {
    font-family: Afterglow;
    src: url(/Font/Afterglow-Regular.ttf);
}

  /* main wrap */
  .main-wrap{
      background-image: url(/image/bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 1080px;
      position: relative;
  }

  /* top-bar */
  .top-bar{
      width: 100%;
      margin:0 auto;
      position: relative;
      
    }

  .left-menu{
    width: 70%;
    margin-left:250px;
    margin-top:20px;    
    position: relative;
  }

  .left-menu ul li{
      box-sizing: border-box;
      margin-right: 10px;
      font-family: Afterglow;
      letter-spacing:1px;
      color:#fff;
  }

  .left-menu .text-box{
    width: 12%;
    margin-top:0px;
    text-align: center;
    padding:20px 10px;
    box-sizing: border-box;

    /* 2차메뉴 */
    position: relative;
}

  .left-menu .text-box ul{
      display:none;
      position: absolute;
      background: rgba(0,0,0,0.2);
      margin-top:20px;
      width: 100%;
      margin-left:-10px;
      text-align: center;
  }

  .left-menu .text-box ul li{
      padding: 10px 0px;
      box-sizing: border-box;
      font-weight: lighter;
      font-size:0.8em;
      letter-spacing: 1px;
      font-family: a고딕12;
  }

  .left-menu .text-box a{
      display: block;
  }

  .left-menu .text-box:hover ul{
      display:block;
  }
/* 2차메뉴 끝 */

/* 메인 로고박스 */
  .left-menu .logo-box{
      width: 20%;
      background-image: url(/image/title_box.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding:20px 0;
      margin-top:-20px;
      height: 100px;
      text-align: center;
  }

  .left-menu .logo-box img{
      margin-top:5px;
  }

  /*로고 박스 끝*/

  /*우측메뉴*/
  .right-menu{
    padding:40px 30px 0 0;
    box-sizing: border-box;
    width: 15%;
}
  .right-menu ul li{
      margin-right: 20px;
      color: #fff;
      font-family: a고딕12;
  }
  .right-menu ul li:last-child{
      margin-right: 0px;
  }


  /* 우측메뉴-셀렉트 박스 */
  select{
      padding:.6em .5em ;
      margin-top:-10px;
      border-radius: 5px;
      border: 1px solid rgb(215, 215, 215);
      background: rgba(0,0,0,0.2);
      color: #fff;
      font-family: inherit;
      font-size:.9em;
  }


.line{
  width: 100%;
  height: 2px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top:8%;
}